<!DOCTYPE html>
<html>
<head>
    <title>Add Patient - Physiologic PRISM</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h2>Add New Patient</h2>
        <form method="POST">
           

            <label>Patient Name:</label>
            <input class="input-field" type="text" name="name" required>

            <label>Age / Sex:</label>
            <input class="input-field" type="text" name="age_sex" required>

            <label>Contact Details:</label>
            <input class="input-field" type="text" name="contact" required>

            <label>Present History:</label>
            <textarea class="input-field" name="present_history" rows="3" required></textarea>

            <label>Past History:</label>
            <textarea class="input-field" name="past_history" rows="3" required></textarea>

            <button class="button" type="submit">Save Patient</button>
        </form>
        <br>
        <a href="/dashboard">Back to Dashboard</a>
    </div>
</body>
</html>
